.Rhistory
.RData
.Rproj.user/
*.Rcheck/
*.tar.gz
*.zip
*.o
*.dll
*.so
*.log
README.html
README_files/
tests/
inst/extdata/
inst/doc/VALIDATION.md
inst/doc/*.html
inst/doc/*.tsv
inst/examples/us_smoke.R
