useDynLib(spatialGPCA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(svgpc_cluster)
export(svgpc_select_lambda)
S3method(plot,svgpc_cluster)
S3method(plot,svgpc_fit)
S3method(print,svgpc_cluster)
S3method(print,svgpc_fit)
S3method(print,svgpc_parameters)
export(svgpc_prepare)
export(svgpc_accumulate)
export(svgpc_accumulate_matrix)
export(svgpc_fit)
export(svgpc_fitted)
export(svgpc_statistics)
export(svgpc_save)
export(svgpc_load)
export(svgpc_info)
export(svgpc_spde_correlation)
export(svgpc_spde_scale)
export(svgpc_spde_mesh)
export(svgpc_spde_basis)
export(svgpc_spde_prepare)
export(svgpc_spde_locations)
export(svgpc_spde_prepare_locations)
export(svgpc_spde_prepare_data)
S3method(print,svgpc_spde_mesh)
S3method(plot,svgpc_spde_mesh)
S3method(print,svgpc_spde_parameters)
S3method(print,svgpc_spde_model)
S3method(print,svgpc_spde_locations)
export(svgpc_spde_accumulate)
export(svgpc_spde_accumulate_matrix)
export(svgpc_spde_accumulate_reader)
export(svgpc_spde_objective)
export(svgpc_spde_fit)
export(svgpc_spde_select_lambda)
export(svgpc_spde_fitted)
export(svgpc_spde_scale_audit)
