useDynLib(spatialGPCA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(svgpc_cluster)
export(svgpc_select_lambda)
S3method(plot,svgpc_cluster)
S3method(plot,svgpc_fit)
S3method(print,svgpc_cluster)
S3method(print,svgpc_fit)
S3method(print,svgpc_parameters)
export(svgpc_prepare)
export(svgpc_accumulate)
export(svgpc_accumulate_matrix)
export(svgpc_fit)
export(svgpc_fitted)
export(svgpc_statistics)
export(svgpc_save)
export(svgpc_load)
export(svgpc_info)
